<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.haseeb.job-profession</string>
  <key>Program</key>
  <string>/bin/zsh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/haseeb-mir/Library/Caches/job_profession_runtime/launchd_discover_bootstrap.sh</string>
    <string>/Users/haseeb-mir/Library/CloudStorage/GoogleDrive-haseebmir.hm@gmail.com/Other computers/My Laptop/Documents/Heaven/job_profession</string>
    <string>/Users/haseeb-mir/Library/Caches/job_profession_runtime/data</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>17</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>/Users/haseeb-mir/Library/Caches/job_profession_runtime/launchd.stdout.log</string>
  <key>StandardErrorPath</key><string>/Users/haseeb-mir/Library/Caches/job_profession_runtime/launchd.stderr.log</string>
</dict>
</plist>
